{% extends 'partials/_base.html' %}
<!--load static-->
{% load static %}

<!---Title-->
{% block title %}Homepage{% endblock title %}
<!---EndTitle-->

<!--Content-->
{% block content %}

<!---User Permission-->
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<!---Topbar-->
{% include 'partials/_topbar.html' %}
<!---End Topbar-->

<!--Chart-->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="bg-white">
        <canvas id="myChart" class="mychart"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bg-white" class="mychart">
        <canvas id="myChart1" class="mychart"></canvas>
      </div>
    </div>
  </div>
</div>
<!--EndChart-->

{% else %}
<!--Table-->

<!--Staff Dashboard-->
{% include './staff_index.html' %}
<!--End Staff Dashboard-->

{% endif %}

<script src="{% static 'js/chart.js' %}"></script>
<!---User Permission Ends-->
{% endblock %}
<!--EndContent-->
