{% extends 'partials/_base.html' %}

<!---Title-->
{% block title %}Order Page{% endblock %}
<!---EndTitle-->

{% block content %}

<!---Topbar-->
{% include 'partials/_topbar.html' %}
<!---End Topbar-->

<!---Table-->

<div class="container my-4">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <table class="table table-striped bg-white 5">
        <thead class="bg-success text-white">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Ordered By</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td class="text-capitalize" scope="row">{{order.product.name}}</td>
            <td class="text-capitalize">{{order.product.category}}</td>
            <td>{{order.order_quantity}}</td>
            <td class="text-capitalize">{{order.staff.username}}</td>
            <td>{{order.date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!---End Table-->
{% endblock content %}
