{% extends 'partials/_base.html' %}
<!--Title-->
{% block title %}Product Page{% endblock title %}
<!--EndTitle-->
{% load crispy_forms_tags %}

<!---->
{% block content %}

<!---Topbar-->
{% include 'partials/_topbar.html' %}
<!---End Topbar-->

<!---Table-->

<div class="container my-4">
  <div class="row">
    <div class="col-md-4">
      <div class="border p-3 bg-white">
        <h5 class="text-dark">Add Product</h5>
        <hr />

        <form method="POST">
          {% csrf_token %}

          <!---->
          {{form | crispy}}
          <input
            type="submit"
            class="btn btn-success btn-sm mt-2 form-control form-control-sm"
            value="Add Product"
          />
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-striped bg-white 5">
        <thead class="bg-success text-white">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Activity</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td scope="row">{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.quantity}}</td>
            <td>
              <a
                href="{% url 'dashboard-products-update' item.id %}"
                class="btn btn-primary btn-sm"
                >Edit</a
              >
              <a
                href="{% url 'dashboard-products-delete' item.id %}"
                class="btn btn-danger btn-sm"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!---End Table-->
{% endblock content %}
