{% extends 'partials/_base.html' %}
<!--Title-->
{% block title %}Product Page{% endblock title %}
<!--EndTitle-->
{% load crispy_forms_tags %}

<!---->
{% block content %}

<!---Table-->

<div class="container my-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="border p-3 bg-white">
        <h5 class="text-dark">Edit Product</h5>
        <hr />

        <form method="POST">
          {% csrf_token %}

          <!---->
          {{form | crispy}}
          <input
            type="submit"
            class="btn btn-success btn-sm mt-2 form-control form-control-sm"
            value="Edit Product"
          />
        </form>
      </div>
    </div>
  </div>
</div>
<!---End Table-->
{% endblock content %}
