{% extends 'partials/_base.html' %}

<!---Title-->
{% block title %}Login{% endblock title %}
<!--EndTitle-->
{% load crispy_forms_tags %}
<!--Content-->
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="border bg-white p-3">
        <h3 class="text-center">Login</h3>
        <hr />

        <form method="post">
          {% csrf_token %}

          <!--Form start-->
          {{form | crispy}}
          <input
            type="submit"
            valu="Login"
            class="btn btn-success form-control mt-3"
          />
          <!--end start-->
        </form>
        <div class="mt-3">
          <span>Don't have account? </span
          ><a
            href="{% url 'user-register' %}"
            class="text-decoration-none text-success"
            >Register here.</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
<!---End Content-->
