{% extends 'partials/_base.html' %}

<!---Title-->
{% block title %}Reset Password{% endblock title %}
<!--EndTitle-->
{% load crispy_forms_tags %}
<!--Content-->
{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      {% for message in messages %} {% if message %}
      <div class="alert alert-{{message.tags}}">{{message}}</div>
      {% endif %} {% endfor %}
      <div class="border bg-white p-3">
        <h3 class="text-center">Reset Password</h3>
        <hr />

        <form method="post">
          {% csrf_token %}

          <!--Form start-->
          {{form | crispy}}
          <input
            type="submit"
            valu="Reset Password"
            class="btn btn-success form-control mt-3"
          />
          <!--end start-->
        </form>
        <div class="mt-3">
          <div>
            ><a
              href="{% url 'user-login' %}"
              class="text-decoration-none text-success"
              >Go Back.</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
<!---End Content-->
